
{% extends "layout.html" %} {% block content %}
<link rel="stylesheet" href="{{url_for('static',filename = 'css/login.css')}}" />
<main class="flex-1">
  <div class="flex justify-center mt-5 mb-5 text-xl font-bold">
    <h1>Events</h1>
  </div>
  {% for item in data %}
  <div class="flex justify-center mt-7 mb-7">
    <div class="relative block p-8 overflow-hidden border border-gray-100 rounded-lg  bg-white justify-center w-3/5">

      <div class="justify-between sm:flex">
        <div>
          <h5 class="text-xl font-bold text-gray-900 no-underline hover:underline hover:text-blue-800">
            {{ item.event_name }}
          </h5> <p class="mt-1 text-xs font-medium text-gray-600">Organized By : <b>{{item.Organizer['organizer_name']}}</b></p>

        </div>
        <div class="flex-shrink-0 hidden ml-3 sm:block">
          <div>
            <a class="block px-8 py-3 text-sm font-medium text-white bg-primary-700 rounded transition hover:scale-110 hover:shadow-xl active:bg-indigo-500 focus:outline-none focus:ring" 
            href="{{ url_for('register',eventID=item.event_id )}}"> Register
            </a>
          </div>
        </div>
      </div>

      <div class="mt-4 sm:pr-8">
        <p class="text-sm text-gray-500">
          {{ item.event_description }}
        </p>
      </div>

      <dl class="flex mt-6">
        <div class="flex flex-col-reverse">
          <dt class="text-sm font-medium text-gray-600">{{item.event_start_date}}</dt>
          <dd class="text-xs text-gray-600">Date of Event </dd>
        </div>

        <div class="flex flex-col-reverse ml-3 sm:ml-6">
          <dt class="text-sm font-medium text-gray-600">{{item.event_location}}</dt>
          <dd class="text-xs text-gray-600 inline">Location</dd>

        </div>
      </dl>

    </div>
  </div>
  {% endfor %}

</main>
{% endblock content %}
