{% block content %}
<link
  rel="stylesheet"
  href="{{url_for('static',filename='dist/css/output.css')}}"
/>
<div class="overflow-x-auto relative">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="py-3 px-6">Team Name</th>
        <th scope="col" class="py-3 px-6">Team Members</th>
        <th scope="col" class="py-3 px-6">Project Description</th>
        <th scope="col" class="py-3 px-6">Project Link</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row"
          class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{item.event_name}}
        </th>
        <td class="py-4 px-6">
          {% for member in item.event_sponsorers %}
          <p>{{member}}</p>
          {% endfor %}
        </td>
        <td class="py-4 px-6">{{item.event_description}}</td>
        <td class="py-4 px-6">View</td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
</div>
<script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>

{% endblock %}
